/** @type {import('next').NextConfig} */
const nextConfig = {
  output: 'standalone',
  async rewrites() {
    return [
      {
        source: '/api/:path*',
        destination: process.env.NEXT_PUBLIC_API_URL
          ? `${new URL(process.env.NEXT_PUBLIC_API_URL).protocol}//${new URL(process.env.NEXT_PUBLIC_API_URL).host}/api/:path*`
          : '/api/:path*',
      },
    ]
  },
}

export default nextConfig
